<div class="container">
  <div style="display: flex" class="row">
    <ng-container *ngFor="let product of products; let i = index">
      <div
        class="
          col-xl-4 col-lg-4 col-md-6 col-sm-12
          pointer-product
          product-list-style
        "
        (click)="sendToProductPage(i)"
        *ngIf="product.imageUrl"
      >
        <img
          style="width: 100%"
          [src]="product.imageUrl"
          alt="product-picture"
        />
        <div [href]="url">
          <h3>{{ product.name }}</h3>
        </div>
        <div style="align-items: center">price: ${{ product.price }}</div>
        <div>{{ product.id }}</div>
        <app-product-page [Item]="product"></app-product-page>
      </div>
    </ng-container>
  </div>
</div>

<!-- <app-product-page [testInput]="products"></app-product-page> -->
