<div>
    <nav class="navbar navbar navbar-expand-sm bg-light navbar-light navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a  style="padding: 0%;" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" >Home</a></li>
        <li><a href="#" >Page 1</a></li>
        <li><a href="#" >Page 2</a></li>
      </ul>
      <ul class="navbar-right">
        <li><a href="#"> Sign Up</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam deserunt recusandae consectetur modi, magni quos similique! Sit, eaque. Quidem, eos omnis ea provident tenetur aperiam debitis aliquid blanditiis ut libero.