<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'> -->

<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->

<div class="wrapper"> 
  <div class="nav">    
    <div class="nav-links">
      <a href="">Store</a>
      <a href="">Collections</a>
      <a href="">About</a>
      <a href="">Contact</a>
    </div>
      
    <a href="" class="cart-icon"><i class="fa fa-shopping-cart"></i></a>
  </div>
  
  <div class="product group">
    <div class="col-1-2 product-image">
      <div class="bg"></div>
      <div class="indicator">
        <div class="dot one"></div>
        <div class="dot two"></div>
        <div class="dot three"></div>
        <div class="dot four"></div>
        <div class="dot five"></div>
      </div>
    </div>
    <div class="col-1-2 product-info">
      <h1>Field Notes Cherry Graph 3-Pack</h1>
      <h2>$1299.99</h2>
      
      <div class="select-dropdown">
        <select>
          <option value="size">Size</option>
          <option value="size">Small</option>
          <option value="size">Medium</option>
          <option value="size">Large</option>
        </select>
      </div>
      
      <div class="select-dropdown">
        <select>
          <option value="quantity">1</option>
          <option value="quantity">2</option>
          <option value="quantity">3</option>
          <option value="quantity">4</option>
        </select>
      </div>
      
      <br>
      
      <a href="" class="add-btn">Add To Cart</a>
      
      <ul>
        <li>Graph paper 40-page memo book.</li>
        <li>3 book per pack. Banded and shrink-wrapped</li>
        <li>Three great memo books worth fillin' up with information</li>
        <li>Red cherry wood covers</li>
      </ul>
    </div>
  </div>
  

  
</div>