<div class="wrapper">
  <div class="product group">
    <div class="product-image">
      <img src="{{ productInfo.imageUrl }}" class="col-1-2 product-image" />

      <div class="bg"></div>
      <div class="indicator">
        <div class="dot one"></div>
        <div class="dot two"></div>
        <div class="dot three"></div>
        <div class="dot four"></div>
        <div class="dot five"></div>
      </div>
    </div>
    <div class="col-1-2 product-info">
      <!-- <div *ngFor="let product of productInfo"></div> -->
      <h1>{{ productInfo.name }}</h1>
      <h2>${{ productInfo.price }}</h2>

      <div class="select-dropdown">
        <select>
          <option value="size">Size</option>
          <option value="size">Small</option>
          <option value="size">Medium</option>
          <option value="size">Large</option>
        </select>
      </div>

      <div class="select-dropdown">
        <select>
          <option value="quantity">1</option>
          <option value="quantity">2</option>
          <option value="quantity">3</option>
          <option value="quantity">4</option>
        </select>
      </div>

      <br />

      <button class="add-btn" (click)="addToCart()">Add To Cart</button>

      <ul>
        <li>Graph paper 40-page memo book.</li>
        <li>3 book per pack. Banded and shrink-wrapped</li>
        <li>Three great memo books worth fillin' up with information</li>
        <li>Red cherry wood covers</li>
      </ul>
    </div>
  </div>
</div>
